<div class="container w-50">
<h1 class="my-4">Edit Task</h1>

<%= form_with model: @task, local: true, class: 'needs-validation' do |f| %>
  <div class="mb-3">
    <%= f.label :title, class: 'form-label' %>
    <%= f.text_field :title, class: 'form-control', required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :details, class: 'form-label' %>
    <%= f.text_area :details, class: 'form-control', rows: 5, required: true %>
  </div>

  <div class="mb-3">
    <%= f.check_box :completed, class: 'form-check-input' %>
    <%= f.label :completed, class: 'form-check-label' %>
  </div>

  <div class="mb-3">
    <%= f.submit 'Update Task', class: 'btn btn-primary' %>
    <%= link_to 'Back', tasks_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
</div>
